/*Mis formatos agregados:*/
/* -------------------------------------------------------------------------------------- */
/* PANTALLA DE LOGIN */

/* En las casillas del input señala si el formato no es válido */
input:valid {
  border-color: green;
}
/* formato del mensaje de error si ingresa usuario o contraseña equivocado */
#formErrorUser, #formErrorPass{
  font-size: small;
  color: red;
  background-blend-mode: rgb(230, 68, 68);
}
/*formato del botón de ingreso del login*/
.btn:hover  {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}
/* formato de todos los body */
body{
background: rgba(226,226,226,1);
background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}
/* formato del logo de la web */
#foto{
  margin-bottom: 15px;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* -------------------------------------------------------------------------------------- */
/* PANTALA DE INICIO */

/* formato del botón de cerrar sesión */
.boton{
  border-color: white;
  border-radius: 12px;
  padding: 8px 20px;
  opacity: 100%;
  color: white;
  background-color: rgb(206, 48, 82);
}

/* -------------------------------------------------------------------------------------- */
/* MODAL DE BIENVENIDA */
/* formato de la ventana modal */
#miVentana{
  position: fixed;
  z-index: 2;
  width: 500px; 
  height: 300px;
  background: url("../img/modal_back.jpg");
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
}
/* formato del parrafo "bienvenido" */
#bienvenido{
  font-size: 50px;
  font-family: 'Raleway', serif !important;
  font-weight: bolder;
  color: black;
  text-align: justify;
  margin-top: 55px;
  margin-left: 20px;
}
div #bienvenido #user{
  margin-left: 20px;
  font-size: 40px;
  font-style: oblique;
}
/* formato de la frase de abajo del modal */
#volverAver{
  color: grey;
  font-style: oblique;
  margin-left: 20px;
  margin-top: 5px;
}
/* formato del botón de aceptar */
#aceptar{
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 100%;
  border-color: rgb(206, 48, 82);
  border-radius: 12px;
  padding: 10px 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: 335px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
/* -------------------------------------------------------------------------------------- */
/* PANTALLA DE INFORMACION DEL PRODUCTO */

/* formato del formulario para agregar comentarios */
#form {
  width: 250px;
  margin: 0 auto;
  height: 150px;
}
#form p {
  text-align: center;
}
#form label {
  font-size: 120px;
}
input[type="radio"] {
  display: none;
}
label {
  color: grey;
}
.valoracion {
  direction: rtl;
  unicode-bidi: bidi-override;
}
label:hover,
label:hover ~ label {
  color: orange;
}
input[type="radio"]:checked ~ label {
  color: orange;
}
/* -------------------------------------------------------------------------------------- */
/* PANTALLA DEL CARRITO */
/* para sacarle las flechas al input tipo: number */
.inputSinFlecha::-webkit-inner-spin-button, 
.inputSinFlecha::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*------------------------------------------------------------*/
/* Formatos que ya existían */

.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}